{
  "openapi": "3.0.1",
  "info": {
    "title": "Salsa Engage Integration API",
    "description": "## General Description\nThis API is useful for integrating Salsa Engage data into other CRM systems. Engage API allows you to push supporters, groups, and transactions to another system, and pull all those things plus activity data from that system. You'll need an application in the middle to transfer the data back and forth and transform it so that each system understands it. Engage uses JSON for transferring data. Fields that have no value (NULL in our database) will NOT be included in results. You may specify nulls explicitly in your request if you desire. \n\nBase URL for all calls: https://api.salsalabs.org/api\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "contact": {
      "name": "API Support",
      "url": "https://help.salsalabs.com",
      "email": "support@salsalabs.org"
    },
    "version": "11.7.1",
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "altText": "Salsa Engage",
      "href": "/help/integration",
      "url": "https://hq.salsalabs.org/images/SalsaEngage-Logo-2019.png"
    }
  },
  "servers": [
    {
      "url": "https://api.salsalabs.org/api",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "Call Rate Limits",
      "description": "Salsa Engage doesn't limit the number of concurrent processes that can access the API, but it does impose the following call rate limit:\n\nYour token will allow: \n* Up to 300 calls to the API within a 1 minute period\n* Up to 20 items included in batch/bulk calls - this includes multiple supporter updates as well as searching and pagination calls\n\nEach item in a batch counts as 1 call and will be counted for the 1 minute period.\nFor example 15 calls with a batch of 20  equates to 300 calls and will cause rate limiting to be enforced.\nRate limiting is performed with a rolling 1 minute window - this means you can not perform 300 operations at the end of one clock minute and immediately send 300 more calls when the next clock minute occurs.\n**If your organization requires a higher call rate limit, you can speak to a sales representative to discuss increasing it.**",
      "x-traitTag": "true"
    },
    {
      "name": "HTML Error Codes",
      "description": "<div class='apierrors'>\n\n| HTTP Code | Name                  | Description                                                                                                                                                                                                                                                                                                                                                                                                                                           |\n|:-----------:|:-----------------------|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| 400       | Bad Request           | **Directives in your payload were invalid**  This error would typically occur if the parameters for a search operation are not configured correctly.  Such an example is a activity search request without the *modifiedFrom* attribute set within the payload.  In addition to the 400 code, the system will include a description for what the problem was.  For example 400 Bad Request - Either 'modifiedFrom' or 'activityIds' must be provided. |\n| 401       | Unauthorized          | Returned when a request with an invalid or missing token is made                                                                                                                                                                                                                                                                                                                                                                                      |\n| 405       | Method Not Allowed    | Returned when a request is made to modify an object that is not allowed to be changed via the API, for example, trying to change a static segment.                                                                                                                                                                                                                                                                                                    |\n| 429       | Too Many Requests     | A 429 error code will be returned in one of two cases. Either the call rate for the token has been exceeded, or the batch size requested for an operation is larger than what is configured for your token.In either case the 429 will be returned with either one of the following messages: *429 Call rate has been exceeded* or *429 Requested batch size exceeds the allowed size of: \\<token batch size value\\>*                               |\n| 500       | Internal Server Error | This exception will also include a JSON structure in the body with additional contextual information which could be provided to Salsa for troubleshooting.  You should be aware that some of these errors reported in this manner can be resolved on your end. An example of,such an error is providing an incorrect date format for a search condition                                                                                               |\n\n</div>",
      "x-traitTag": "true"
    },
    {
      "name": "Pagination",
      "description": "Many of the API calls support the use of **count** and **offset** options to enable pagination of results.  An **offset** value will be used to index the results out of the total possible.  So if you request a **count** of 20, with **offset** you will receive the first 20 results.  Specifying an offset of **20** will then return you the next batch of 20 results, etc.",
      "x-traitTag": "true"
    },
    {
      "name": "Country/State",
      "description": "Salsa Engage uses ISO standards to validate countries and state/provinces within a country.  In general, specify countries via their **ISO 3166-1 alpha 2** code. Similarly, specify states/provinces via their **ISO 3166-2** code, which normally consists of the 2 character country code followed by \\'-\\' and the 2 or 3 character state/province code. For the US, specify just the 2 character state code directly, without the \\'US-\\' prefix. For more information, please visit <a href='https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2' target='_blank'>ISO-3166-1 alpha 2</a> and <a href='https://en.wikipedia.org/wiki/ISO_3166-2' target='_blank'>ISO-3166-2</a>",
      "x-traitTag": "true"
    },
    {
      "name": "General Calls",
      "description": "This API endpoint enables you to programmatically understand how many calls are available before making a request. The returned payload will include the count of available calls as well as operations that have been performed to date for the token."
    },
    {
      "name": "Email Results",
      "description": "These API endpoints provide the ability to retrieve email activity data so that integrations or third-parties can use that data for segmentation/scoring externally. For instance, when invoked, Salesforce customers have a way to pull back data without necessarily storing it in Salesforce and creating storage concerns."
    },
    {
      "name": "Merge Supporter Records",
      "description": "This API endpoint provides the ability to fully merge all activity data for two supporter records. When invoked, all activities performed by one supporter will be merged into another supporter and the supporter whose records were merged will be deleted from the system. This call enables the ability to consolidate two supporter records into a single supporter record. Please be aware that this call will primarily merge the activity records and not census data—that is the responsibility of the caller. **WARNING: It should also be understood that this operation is NOT reversible.**"
    },
    {
      "name": "Supporter Data",
      "description": "These API endpoints allow you to fully manage the census information about a supporter."
    },
    {
      "name": "Transaction",
      "description": "These API endpoints allow you to search the information about donation intent and donation transaction data."
    },
    {
      "name": "Activity Data",
      "description": "Activities represent the interaction of supporters with published forms.  At this time, supporters can interact with the following types of forms:\n\n* *SUBSCRIPTION_MANAGEMENT* -- Make changes to email interests as well as globally opting out\n* *SUBSCRIBE* -- Signup to become a supporter of your organization\n* *FUNDRAISE* -- Make a donation to your organization\n* *PETITION* -- Sign a petition to show their support for your organization's cause\n* *TARGETED_LETTER* -- Send a letter to political leaders within their district\n* *TICKETED_EVENT* -- Attend an event, or donate to the cause of an event\n* *P2P_EVENT* -- Participated in a Peer 2 Peer Event, or donated to one\n* *FACEBOOK_AD* -- Submitted an ad on Facebook\n* *REGULATION_COMMENTS* -- Submitted a regulations.gov comment\n"
    },
    {
      "name": "Segment Data",
      "description": "This API endpoint allows you to retrieve information about segments. Segments provide the ability for you to logically group supporters and then use the grouping to target supporters in an email blast or export."
    },
    {
      "name": "Offline Donations",
      "description": "These API endpoints enable add and update functionality for offline donations. Offline donations can be classified as those donations that were captured/processed by a system other than the Salsa Online/CRM system. These donations can be added to include them in the Online dashboard, reports, and segmentation functionality as well as the equivalent functionality in CRM system.\n\n**Note: Donations added via the API cannot be deleted. This is due to the number of places where this data is propagated. They can only be zeroed out or refunded.**"
    },
    {
      "name": "Email Blast",
      "description": "These API endpoints allow you to create an email blast, assign targets and schedule or send the blast."
    },
    {
      "name": "Activity Forms",
      "description": "These API endpoints enable the creation, update and publication control of forms. Note, for form field attributes, leaving out a value indicates that either the default value applies, or no change to any existing values will be made. Any exceptions will be noted in the documentation of the attribute. Also note that each type of form has a minimum set of required fields that **must** be defined on the form before it can be published. Those fields will be marked as ***hardRequired***.\nDisplay of form elements is based on a 12-column grid. This API allows you to control the width of each field by specifying how many columns it will take up (out of the available 12 for a row). See [Grid](https://get.foundation/sites/docs-v5/components/grid.html \"Foundation 5 Grid\") for more details."
    },
    {
      "name": "AutoResponder",
      "description": "These API endpoints allow you to manage the autoresponders for specific forms."
    },
    {
      "name": "Custom Fields",
      "description": "These API endpoints allow you to retrieve, create, and update both supporter and activity custom fields"
    }
  ],
  "paths": {
    "/integration/ext/v1/metrics": {
      "get": {
        "tags": [
          "General Calls"
        ],
        "summary": "get call metrics",
        "description": "This API endpoint enables you to programmatically understand how many calls are available before making a request. The returned payload will include the count of available calls as well as operations that have been performed to date for the token.",
        "operationId": "getCallMetrics",
        "responses": {
          "default": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIIntegrationResponseCallMetrics"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.salsalabs.org/api/integration/ext/v1/metrics"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET https://api.salsalabs.org/api/integration/ext/v1/metrics"
          },
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {method: 'GET', url: 'https://api.salsalabs.org/api/integration/ext/v1/metrics'};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api.salsalabs.org/api/integration/ext/v1/metrics\")\n  .asString();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.salsalabs.org/api/integration/ext/v1/metrics\",\n  \"method\": \"GET\",\n  \"headers\": {}\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objc + Nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.salsalabs.org/api/integration/ext/v1/metrics\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Swift + Nsurlsession",
            "source": "import Foundation\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api.salsalabs.org/api/integration/ext/v1/metrics\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.salsalabs.org\")\n\nconn.request(\"GET\", \"/api/integration/ext/v1/metrics\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.salsalabs.org/api/integration/ext/v1/metrics\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          }
        ]
      }
    },
    "/integration/ext/v1/supporters/search": {
      "post": {
        "tags": [
          "Supporter Data"
        ],
        "summary": "search",
        "description": "Searching for supporters can be performed as follows:\n\n* Specifying a list of ids such as email address, external id, or Salsa Engage id. It should be understood that the provided ids must all be of the same type - passing a mix of ids is not supported.\n* Specifying a *modifiedFrom* date and optional a *modifiedTo* date to search for those who were modified on or after or in between that criteria - note that this is for modification of their census data(First Name, Last Name, Address, Contacts, etc)\n* Specifying a *searchString* that will search first name, last, email and/or cell phone",
        "operationId": "supporterSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupporterSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIIntegrationResponseSupportersResult"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.salsalabs.org/api/integration/ext/v1/supporters/search \\\n  --header 'content-type: application/json' \\\n  --data '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"identifiers\":[\"string\"],\"identifierType\":\"SUPPORTER_ID\",\"searchString\":\"string\",\"modifiedFrom\":\"2019-08-24T14:15:22Z\",\"modifiedTo\":\"2019-08-24T14:15:22Z\",\"offset\":0,\"count\":0,\"includeCellOnly\":true,\"includeNormal\":true}}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"identifiers\":[\"string\"],\"identifierType\":\"SUPPORTER_ID\",\"searchString\":\"string\",\"modifiedFrom\":\"2019-08-24T14:15:22Z\",\"modifiedTo\":\"2019-08-24T14:15:22Z\",\"offset\":0,\"count\":0,\"includeCellOnly\":true,\"includeNormal\":true}}' |  \\\n  http POST https://api.salsalabs.org/api/integration/ext/v1/supporters/search \\\n  content-type:application/json"
          },
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.salsalabs.org/api/integration/ext/v1/supporters/search',\n  headers: {'content-type': 'application/json'},\n  body: {\n    id: 'string',\n    header: {\n      refId: 'string',\n      batchId: 'string',\n      userData: 'string',\n      processingTime: 0,\n      serverId: 'string'\n    },\n    payload: {\n      identifiers: ['string'],\n      identifierType: 'SUPPORTER_ID',\n      searchString: 'string',\n      modifiedFrom: '2019-08-24T14:15:22Z',\n      modifiedTo: '2019-08-24T14:15:22Z',\n      offset: 0,\n      count: 0,\n      includeCellOnly: true,\n      includeNormal: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api.salsalabs.org/api/integration/ext/v1/supporters/search\")\n  .header(\"content-type\", \"application/json\")\n  .body(\"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"identifiers\\\":[\\\"string\\\"],\\\"identifierType\\\":\\\"SUPPORTER_ID\\\",\\\"searchString\\\":\\\"string\\\",\\\"modifiedFrom\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"modifiedTo\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"offset\\\":0,\\\"count\\\":0,\\\"includeCellOnly\\\":true,\\\"includeNormal\\\":true}}\")\n  .asString();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.salsalabs.org/api/integration/ext/v1/supporters/search\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"content-type\": \"application/json\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"identifiers\\\":[\\\"string\\\"],\\\"identifierType\\\":\\\"SUPPORTER_ID\\\",\\\"searchString\\\":\\\"string\\\",\\\"modifiedFrom\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"modifiedTo\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"offset\\\":0,\\\"count\\\":0,\\\"includeCellOnly\\\":true,\\\"includeNormal\\\":true}}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objc + Nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"content-type\": @\"application/json\" };\nNSDictionary *parameters = @{ @\"id\": @\"string\",\n                              @\"header\": @{ @\"refId\": @\"string\", @\"batchId\": @\"string\", @\"userData\": @\"string\", @\"processingTime\": @0, @\"serverId\": @\"string\" },\n                              @\"payload\": @{ @\"identifiers\": @[ @\"string\" ], @\"identifierType\": @\"SUPPORTER_ID\", @\"searchString\": @\"string\", @\"modifiedFrom\": @\"2019-08-24T14:15:22Z\", @\"modifiedTo\": @\"2019-08-24T14:15:22Z\", @\"offset\": @0, @\"count\": @0, @\"includeCellOnly\": @YES, @\"includeNormal\": @YES } };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.salsalabs.org/api/integration/ext/v1/supporters/search\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"POST\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Swift + Nsurlsession",
            "source": "import Foundation\n\nlet headers = [\"content-type\": \"application/json\"]\nlet parameters = [\n  \"id\": \"string\",\n  \"header\": [\n    \"refId\": \"string\",\n    \"batchId\": \"string\",\n    \"userData\": \"string\",\n    \"processingTime\": 0,\n    \"serverId\": \"string\"\n  ],\n  \"payload\": [\n    \"identifiers\": [\"string\"],\n    \"identifierType\": \"SUPPORTER_ID\",\n    \"searchString\": \"string\",\n    \"modifiedFrom\": \"2019-08-24T14:15:22Z\",\n    \"modifiedTo\": \"2019-08-24T14:15:22Z\",\n    \"offset\": 0,\n    \"count\": 0,\n    \"includeCellOnly\": true,\n    \"includeNormal\": true\n  ]\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api.salsalabs.org/api/integration/ext/v1/supporters/search\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.salsalabs.org\")\n\npayload = \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"identifiers\\\":[\\\"string\\\"],\\\"identifierType\\\":\\\"SUPPORTER_ID\\\",\\\"searchString\\\":\\\"string\\\",\\\"modifiedFrom\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"modifiedTo\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"offset\\\":0,\\\"count\\\":0,\\\"includeCellOnly\\\":true,\\\"includeNormal\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/api/integration/ext/v1/supporters/search\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.salsalabs.org/api/integration/ext/v1/supporters/search\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"identifiers\\\":[\\\"string\\\"],\\\"identifierType\\\":\\\"SUPPORTER_ID\\\",\\\"searchString\\\":\\\"string\\\",\\\"modifiedFrom\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"modifiedTo\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"offset\\\":0,\\\"count\\\":0,\\\"includeCellOnly\\\":true,\\\"includeNormal\\\":true}}\",\n  CURLOPT_HTTPHEADER => [\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          }
        ]
      }
    },
    "/integration/ext/v1/supporters": {
      "put": {
        "tags": [
          "Supporter Data"
        ],
        "summary": "create or update",
        "operationId": "upsertSupporters",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIIntegrationResponseSupportersResult"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request PUT \\\n  --url https://api.salsalabs.org/api/integration/ext/v1/supporters \\\n  --header 'content-type: application/json' \\\n  --data '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"supporters\":[{\"readOnly\":false,\"supporterId\":\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\"salesforceId\":\"string\",\"title\":\"string\",\"firstName\":\"string\",\"middleName\":\"string\",\"lastName\":\"string\",\"suffix\":\"string\",\"dateOfBirth\":\"2019-08-24T14:15:22Z\",\"gender\":\"Male\",\"externalSystemId\":\"string\",\"address\":{\"addressLine1\":\"string\",\"addressLine2\":\"string\",\"city\":\"string\",\"state\":\"string\",\"postalCode\":\"string\",\"county\":\"string\",\"country\":\"string\",\"federalHouseDistrict\":\"string\",\"stateHouseDistrict\":\"string\",\"stateSenateDistrict\":\"string\",\"countyDistrict\":\"string\",\"municipalityDistrict\":\"string\",\"lattitude\":0,\"longitude\":0,\"status\":\"OPT_IN\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"},\"contacts\":[{\"type\":\"EMAIL\",\"value\":\"string\",\"status\":\"OPT_IN\",\"statusDetail\":\"string\",\"smsStatus\":\"OPT_IN\",\"smsStatusDetail\":\"string\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\",\"lastChangeReason\":\"string\",\"lastChangeBy\":\"string\"}],\"customFieldValues\":[{\"fieldId\":\"84922011-b03d-4966-bc95-c5b49bc2e342\",\"name\":\"string\",\"value\":\"string\",\"type\":\"NUMBER\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"}],\"sourceTrackingCode\":\"string\",\"updateSourceTrackingCode\":true,\"salsaClassicId\":\"string\",\"cellPhoneOnly\":true}]}}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"supporters\":[{\"readOnly\":false,\"supporterId\":\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\"salesforceId\":\"string\",\"title\":\"string\",\"firstName\":\"string\",\"middleName\":\"string\",\"lastName\":\"string\",\"suffix\":\"string\",\"dateOfBirth\":\"2019-08-24T14:15:22Z\",\"gender\":\"Male\",\"externalSystemId\":\"string\",\"address\":{\"addressLine1\":\"string\",\"addressLine2\":\"string\",\"city\":\"string\",\"state\":\"string\",\"postalCode\":\"string\",\"county\":\"string\",\"country\":\"string\",\"federalHouseDistrict\":\"string\",\"stateHouseDistrict\":\"string\",\"stateSenateDistrict\":\"string\",\"countyDistrict\":\"string\",\"municipalityDistrict\":\"string\",\"lattitude\":0,\"longitude\":0,\"status\":\"OPT_IN\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"},\"contacts\":[{\"type\":\"EMAIL\",\"value\":\"string\",\"status\":\"OPT_IN\",\"statusDetail\":\"string\",\"smsStatus\":\"OPT_IN\",\"smsStatusDetail\":\"string\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\",\"lastChangeReason\":\"string\",\"lastChangeBy\":\"string\"}],\"customFieldValues\":[{\"fieldId\":\"84922011-b03d-4966-bc95-c5b49bc2e342\",\"name\":\"string\",\"value\":\"string\",\"type\":\"NUMBER\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"}],\"sourceTrackingCode\":\"string\",\"updateSourceTrackingCode\":true,\"salsaClassicId\":\"string\",\"cellPhoneOnly\":true}]}}' |  \\\n  http PUT https://api.salsalabs.org/api/integration/ext/v1/supporters \\\n  content-type:application/json"
          },
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.salsalabs.org/api/integration/ext/v1/supporters',\n  headers: {'content-type': 'application/json'},\n  body: {\n    id: 'string',\n    header: {\n      refId: 'string',\n      batchId: 'string',\n      userData: 'string',\n      processingTime: 0,\n      serverId: 'string'\n    },\n    payload: {\n      supporters: [\n        {\n          readOnly: false,\n          supporterId: '8d5d596f-1e0c-4221-9b6c-48c39efb6c7c',\n          salesforceId: 'string',\n          title: 'string',\n          firstName: 'string',\n          middleName: 'string',\n          lastName: 'string',\n          suffix: 'string',\n          dateOfBirth: '2019-08-24T14:15:22Z',\n          gender: 'Male',\n          externalSystemId: 'string',\n          address: {\n            addressLine1: 'string',\n            addressLine2: 'string',\n            city: 'string',\n            state: 'string',\n            postalCode: 'string',\n            county: 'string',\n            country: 'string',\n            federalHouseDistrict: 'string',\n            stateHouseDistrict: 'string',\n            stateSenateDistrict: 'string',\n            countyDistrict: 'string',\n            municipalityDistrict: 'string',\n            lattitude: 0,\n            longitude: 0,\n            status: 'OPT_IN',\n            optInDate: '2019-08-24T14:15:22Z',\n            optOutDate: '2019-08-24T14:15:22Z'\n          },\n          contacts: [\n            {\n              type: 'EMAIL',\n              value: 'string',\n              status: 'OPT_IN',\n              statusDetail: 'string',\n              smsStatus: 'OPT_IN',\n              smsStatusDetail: 'string',\n              optInDate: '2019-08-24T14:15:22Z',\n              optOutDate: '2019-08-24T14:15:22Z',\n              lastChangeReason: 'string',\n              lastChangeBy: 'string'\n            }\n          ],\n          customFieldValues: [\n            {\n              fieldId: '84922011-b03d-4966-bc95-c5b49bc2e342',\n              name: 'string',\n              value: 'string',\n              type: 'NUMBER',\n              optInDate: '2019-08-24T14:15:22Z',\n              optOutDate: '2019-08-24T14:15:22Z'\n            }\n          ],\n          sourceTrackingCode: 'string',\n          updateSourceTrackingCode: true,\n          salsaClassicId: 'string',\n          cellPhoneOnly: true\n        }\n      ]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.put(\"https://api.salsalabs.org/api/integration/ext/v1/supporters\")\n  .header(\"content-type\", \"application/json\")\n  .body(\"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"supporters\\\":[{\\\"readOnly\\\":false,\\\"supporterId\\\":\\\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\\\",\\\"salesforceId\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"firstName\\\":\\\"string\\\",\\\"middleName\\\":\\\"string\\\",\\\"lastName\\\":\\\"string\\\",\\\"suffix\\\":\\\"string\\\",\\\"dateOfBirth\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"gender\\\":\\\"Male\\\",\\\"externalSystemId\\\":\\\"string\\\",\\\"address\\\":{\\\"addressLine1\\\":\\\"string\\\",\\\"addressLine2\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"postalCode\\\":\\\"string\\\",\\\"county\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\",\\\"federalHouseDistrict\\\":\\\"string\\\",\\\"stateHouseDistrict\\\":\\\"string\\\",\\\"stateSenateDistrict\\\":\\\"string\\\",\\\"countyDistrict\\\":\\\"string\\\",\\\"municipalityDistrict\\\":\\\"string\\\",\\\"lattitude\\\":0,\\\"longitude\\\":0,\\\"status\\\":\\\"OPT_IN\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"contacts\\\":[{\\\"type\\\":\\\"EMAIL\\\",\\\"value\\\":\\\"string\\\",\\\"status\\\":\\\"OPT_IN\\\",\\\"statusDetail\\\":\\\"string\\\",\\\"smsStatus\\\":\\\"OPT_IN\\\",\\\"smsStatusDetail\\\":\\\"string\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"lastChangeReason\\\":\\\"string\\\",\\\"lastChangeBy\\\":\\\"string\\\"}],\\\"customFieldValues\\\":[{\\\"fieldId\\\":\\\"84922011-b03d-4966-bc95-c5b49bc2e342\\\",\\\"name\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"type\\\":\\\"NUMBER\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"}],\\\"sourceTrackingCode\\\":\\\"string\\\",\\\"updateSourceTrackingCode\\\":true,\\\"salsaClassicId\\\":\\\"string\\\",\\\"cellPhoneOnly\\\":true}]}}\")\n  .asString();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.salsalabs.org/api/integration/ext/v1/supporters\",\n  \"method\": \"PUT\",\n  \"headers\": {\n    \"content-type\": \"application/json\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"supporters\\\":[{\\\"readOnly\\\":false,\\\"supporterId\\\":\\\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\\\",\\\"salesforceId\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"firstName\\\":\\\"string\\\",\\\"middleName\\\":\\\"string\\\",\\\"lastName\\\":\\\"string\\\",\\\"suffix\\\":\\\"string\\\",\\\"dateOfBirth\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"gender\\\":\\\"Male\\\",\\\"externalSystemId\\\":\\\"string\\\",\\\"address\\\":{\\\"addressLine1\\\":\\\"string\\\",\\\"addressLine2\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"postalCode\\\":\\\"string\\\",\\\"county\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\",\\\"federalHouseDistrict\\\":\\\"string\\\",\\\"stateHouseDistrict\\\":\\\"string\\\",\\\"stateSenateDistrict\\\":\\\"string\\\",\\\"countyDistrict\\\":\\\"string\\\",\\\"municipalityDistrict\\\":\\\"string\\\",\\\"lattitude\\\":0,\\\"longitude\\\":0,\\\"status\\\":\\\"OPT_IN\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"contacts\\\":[{\\\"type\\\":\\\"EMAIL\\\",\\\"value\\\":\\\"string\\\",\\\"status\\\":\\\"OPT_IN\\\",\\\"statusDetail\\\":\\\"string\\\",\\\"smsStatus\\\":\\\"OPT_IN\\\",\\\"smsStatusDetail\\\":\\\"string\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"lastChangeReason\\\":\\\"string\\\",\\\"lastChangeBy\\\":\\\"string\\\"}],\\\"customFieldValues\\\":[{\\\"fieldId\\\":\\\"84922011-b03d-4966-bc95-c5b49bc2e342\\\",\\\"name\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"type\\\":\\\"NUMBER\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"}],\\\"sourceTrackingCode\\\":\\\"string\\\",\\\"updateSourceTrackingCode\\\":true,\\\"salsaClassicId\\\":\\\"string\\\",\\\"cellPhoneOnly\\\":true}]}}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objc + Nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"content-type\": @\"application/json\" };\nNSDictionary *parameters = @{ @\"id\": @\"string\",\n                              @\"header\": @{ @\"refId\": @\"string\", @\"batchId\": @\"string\", @\"userData\": @\"string\", @\"processingTime\": @0, @\"serverId\": @\"string\" },\n                              @\"payload\": @{ @\"supporters\": @[ @{ @\"readOnly\": @NO, @\"supporterId\": @\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\", @\"salesforceId\": @\"string\", @\"title\": @\"string\", @\"firstName\": @\"string\", @\"middleName\": @\"string\", @\"lastName\": @\"string\", @\"suffix\": @\"string\", @\"dateOfBirth\": @\"2019-08-24T14:15:22Z\", @\"gender\": @\"Male\", @\"externalSystemId\": @\"string\", @\"address\": @{ @\"addressLine1\": @\"string\", @\"addressLine2\": @\"string\", @\"city\": @\"string\", @\"state\": @\"string\", @\"postalCode\": @\"string\", @\"county\": @\"string\", @\"country\": @\"string\", @\"federalHouseDistrict\": @\"string\", @\"stateHouseDistrict\": @\"string\", @\"stateSenateDistrict\": @\"string\", @\"countyDistrict\": @\"string\", @\"municipalityDistrict\": @\"string\", @\"lattitude\": @0, @\"longitude\": @0, @\"status\": @\"OPT_IN\", @\"optInDate\": @\"2019-08-24T14:15:22Z\", @\"optOutDate\": @\"2019-08-24T14:15:22Z\" }, @\"contacts\": @[ @{ @\"type\": @\"EMAIL\", @\"value\": @\"string\", @\"status\": @\"OPT_IN\", @\"statusDetail\": @\"string\", @\"smsStatus\": @\"OPT_IN\", @\"smsStatusDetail\": @\"string\", @\"optInDate\": @\"2019-08-24T14:15:22Z\", @\"optOutDate\": @\"2019-08-24T14:15:22Z\", @\"lastChangeReason\": @\"string\", @\"lastChangeBy\": @\"string\" } ], @\"customFieldValues\": @[ @{ @\"fieldId\": @\"84922011-b03d-4966-bc95-c5b49bc2e342\", @\"name\": @\"string\", @\"value\": @\"string\", @\"type\": @\"NUMBER\", @\"optInDate\": @\"2019-08-24T14:15:22Z\", @\"optOutDate\": @\"2019-08-24T14:15:22Z\" } ], @\"sourceTrackingCode\": @\"string\", @\"updateSourceTrackingCode\": @YES, @\"salsaClassicId\": @\"string\", @\"cellPhoneOnly\": @YES } ] } };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.salsalabs.org/api/integration/ext/v1/supporters\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"PUT\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Swift + Nsurlsession",
            "source": "import Foundation\n\nlet headers = [\"content-type\": \"application/json\"]\nlet parameters = [\n  \"id\": \"string\",\n  \"header\": [\n    \"refId\": \"string\",\n    \"batchId\": \"string\",\n    \"userData\": \"string\",\n    \"processingTime\": 0,\n    \"serverId\": \"string\"\n  ],\n  \"payload\": [\"supporters\": [\n      [\n        \"readOnly\": false,\n        \"supporterId\": \"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\n        \"salesforceId\": \"string\",\n        \"title\": \"string\",\n        \"firstName\": \"string\",\n        \"middleName\": \"string\",\n        \"lastName\": \"string\",\n        \"suffix\": \"string\",\n        \"dateOfBirth\": \"2019-08-24T14:15:22Z\",\n        \"gender\": \"Male\",\n        \"externalSystemId\": \"string\",\n        \"address\": [\n          \"addressLine1\": \"string\",\n          \"addressLine2\": \"string\",\n          \"city\": \"string\",\n          \"state\": \"string\",\n          \"postalCode\": \"string\",\n          \"county\": \"string\",\n          \"country\": \"string\",\n          \"federalHouseDistrict\": \"string\",\n          \"stateHouseDistrict\": \"string\",\n          \"stateSenateDistrict\": \"string\",\n          \"countyDistrict\": \"string\",\n          \"municipalityDistrict\": \"string\",\n          \"lattitude\": 0,\n          \"longitude\": 0,\n          \"status\": \"OPT_IN\",\n          \"optInDate\": \"2019-08-24T14:15:22Z\",\n          \"optOutDate\": \"2019-08-24T14:15:22Z\"\n        ],\n        \"contacts\": [\n          [\n            \"type\": \"EMAIL\",\n            \"value\": \"string\",\n            \"status\": \"OPT_IN\",\n            \"statusDetail\": \"string\",\n            \"smsStatus\": \"OPT_IN\",\n            \"smsStatusDetail\": \"string\",\n            \"optInDate\": \"2019-08-24T14:15:22Z\",\n            \"optOutDate\": \"2019-08-24T14:15:22Z\",\n            \"lastChangeReason\": \"string\",\n            \"lastChangeBy\": \"string\"\n          ]\n        ],\n        \"customFieldValues\": [\n          [\n            \"fieldId\": \"84922011-b03d-4966-bc95-c5b49bc2e342\",\n            \"name\": \"string\",\n            \"value\": \"string\",\n            \"type\": \"NUMBER\",\n            \"optInDate\": \"2019-08-24T14:15:22Z\",\n            \"optOutDate\": \"2019-08-24T14:15:22Z\"\n          ]\n        ],\n        \"sourceTrackingCode\": \"string\",\n        \"updateSourceTrackingCode\": true,\n        \"salsaClassicId\": \"string\",\n        \"cellPhoneOnly\": true\n      ]\n    ]]\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api.salsalabs.org/api/integration/ext/v1/supporters\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"PUT\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.salsalabs.org\")\n\npayload = \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"supporters\\\":[{\\\"readOnly\\\":false,\\\"supporterId\\\":\\\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\\\",\\\"salesforceId\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"firstName\\\":\\\"string\\\",\\\"middleName\\\":\\\"string\\\",\\\"lastName\\\":\\\"string\\\",\\\"suffix\\\":\\\"string\\\",\\\"dateOfBirth\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"gender\\\":\\\"Male\\\",\\\"externalSystemId\\\":\\\"string\\\",\\\"address\\\":{\\\"addressLine1\\\":\\\"string\\\",\\\"addressLine2\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"postalCode\\\":\\\"string\\\",\\\"county\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\",\\\"federalHouseDistrict\\\":\\\"string\\\",\\\"stateHouseDistrict\\\":\\\"string\\\",\\\"stateSenateDistrict\\\":\\\"string\\\",\\\"countyDistrict\\\":\\\"string\\\",\\\"municipalityDistrict\\\":\\\"string\\\",\\\"lattitude\\\":0,\\\"longitude\\\":0,\\\"status\\\":\\\"OPT_IN\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"contacts\\\":[{\\\"type\\\":\\\"EMAIL\\\",\\\"value\\\":\\\"string\\\",\\\"status\\\":\\\"OPT_IN\\\",\\\"statusDetail\\\":\\\"string\\\",\\\"smsStatus\\\":\\\"OPT_IN\\\",\\\"smsStatusDetail\\\":\\\"string\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"lastChangeReason\\\":\\\"string\\\",\\\"lastChangeBy\\\":\\\"string\\\"}],\\\"customFieldValues\\\":[{\\\"fieldId\\\":\\\"84922011-b03d-4966-bc95-c5b49bc2e342\\\",\\\"name\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"type\\\":\\\"NUMBER\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"}],\\\"sourceTrackingCode\\\":\\\"string\\\",\\\"updateSourceTrackingCode\\\":true,\\\"salsaClassicId\\\":\\\"string\\\",\\\"cellPhoneOnly\\\":true}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/api/integration/ext/v1/supporters\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.salsalabs.org/api/integration/ext/v1/supporters\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"supporters\\\":[{\\\"readOnly\\\":false,\\\"supporterId\\\":\\\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\\\",\\\"salesforceId\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"firstName\\\":\\\"string\\\",\\\"middleName\\\":\\\"string\\\",\\\"lastName\\\":\\\"string\\\",\\\"suffix\\\":\\\"string\\\",\\\"dateOfBirth\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"gender\\\":\\\"Male\\\",\\\"externalSystemId\\\":\\\"string\\\",\\\"address\\\":{\\\"addressLine1\\\":\\\"string\\\",\\\"addressLine2\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"postalCode\\\":\\\"string\\\",\\\"county\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\",\\\"federalHouseDistrict\\\":\\\"string\\\",\\\"stateHouseDistrict\\\":\\\"string\\\",\\\"stateSenateDistrict\\\":\\\"string\\\",\\\"countyDistrict\\\":\\\"string\\\",\\\"municipalityDistrict\\\":\\\"string\\\",\\\"lattitude\\\":0,\\\"longitude\\\":0,\\\"status\\\":\\\"OPT_IN\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"contacts\\\":[{\\\"type\\\":\\\"EMAIL\\\",\\\"value\\\":\\\"string\\\",\\\"status\\\":\\\"OPT_IN\\\",\\\"statusDetail\\\":\\\"string\\\",\\\"smsStatus\\\":\\\"OPT_IN\\\",\\\"smsStatusDetail\\\":\\\"string\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"lastChangeReason\\\":\\\"string\\\",\\\"lastChangeBy\\\":\\\"string\\\"}],\\\"customFieldValues\\\":[{\\\"fieldId\\\":\\\"84922011-b03d-4966-bc95-c5b49bc2e342\\\",\\\"name\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"type\\\":\\\"NUMBER\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"}],\\\"sourceTrackingCode\\\":\\\"string\\\",\\\"updateSourceTrackingCode\\\":true,\\\"salsaClassicId\\\":\\\"string\\\",\\\"cellPhoneOnly\\\":true}]}}\",\n  CURLOPT_HTTPHEADER => [\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          }
        ]
      },
      "delete": {
        "tags": [
          "Supporter Data"
        ],
        "summary": "delete",
        "operationId": "deleteSupporters",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupportersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIIntegrationResponseSupportersResult"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request DELETE \\\n  --url https://api.salsalabs.org/api/integration/ext/v1/supporters \\\n  --header 'content-type: application/json' \\\n  --data '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"supporters\":[{\"readOnly\":false,\"supporterId\":\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\"salesforceId\":\"string\",\"title\":\"string\",\"firstName\":\"string\",\"middleName\":\"string\",\"lastName\":\"string\",\"suffix\":\"string\",\"dateOfBirth\":\"2019-08-24T14:15:22Z\",\"gender\":\"Male\",\"externalSystemId\":\"string\",\"address\":{\"addressLine1\":\"string\",\"addressLine2\":\"string\",\"city\":\"string\",\"state\":\"string\",\"postalCode\":\"string\",\"county\":\"string\",\"country\":\"string\",\"federalHouseDistrict\":\"string\",\"stateHouseDistrict\":\"string\",\"stateSenateDistrict\":\"string\",\"countyDistrict\":\"string\",\"municipalityDistrict\":\"string\",\"lattitude\":0,\"longitude\":0,\"status\":\"OPT_IN\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"},\"contacts\":[{\"type\":\"EMAIL\",\"value\":\"string\",\"status\":\"OPT_IN\",\"statusDetail\":\"string\",\"smsStatus\":\"OPT_IN\",\"smsStatusDetail\":\"string\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\",\"lastChangeReason\":\"string\",\"lastChangeBy\":\"string\"}],\"customFieldValues\":[{\"fieldId\":\"84922011-b03d-4966-bc95-c5b49bc2e342\",\"name\":\"string\",\"value\":\"string\",\"type\":\"NUMBER\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"}],\"sourceTrackingCode\":\"string\",\"updateSourceTrackingCode\":true,\"salsaClassicId\":\"string\",\"cellPhoneOnly\":true}]}}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"supporters\":[{\"readOnly\":false,\"supporterId\":\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\"salesforceId\":\"string\",\"title\":\"string\",\"firstName\":\"string\",\"middleName\":\"string\",\"lastName\":\"string\",\"suffix\":\"string\",\"dateOfBirth\":\"2019-08-24T14:15:22Z\",\"gender\":\"Male\",\"externalSystemId\":\"string\",\"address\":{\"addressLine1\":\"string\",\"addressLine2\":\"string\",\"city\":\"string\",\"state\":\"string\",\"postalCode\":\"string\",\"county\":\"string\",\"country\":\"string\",\"federalHouseDistrict\":\"string\",\"stateHouseDistrict\":\"string\",\"stateSenateDistrict\":\"string\",\"countyDistrict\":\"string\",\"municipalityDistrict\":\"string\",\"lattitude\":0,\"longitude\":0,\"status\":\"OPT_IN\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"},\"contacts\":[{\"type\":\"EMAIL\",\"value\":\"string\",\"status\":\"OPT_IN\",\"statusDetail\":\"string\",\"smsStatus\":\"OPT_IN\",\"smsStatusDetail\":\"string\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\",\"lastChangeReason\":\"string\",\"lastChangeBy\":\"string\"}],\"customFieldValues\":[{\"fieldId\":\"84922011-b03d-4966-bc95-c5b49bc2e342\",\"name\":\"string\",\"value\":\"string\",\"type\":\"NUMBER\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"}],\"sourceTrackingCode\":\"string\",\"updateSourceTrackingCode\":true,\"salsaClassicId\":\"string\",\"cellPhoneOnly\":true}]}}' |  \\\n  http DELETE https://api.salsalabs.org/api/integration/ext/v1/supporters \\\n  content-type:application/json"
          },
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.salsalabs.org/api/integration/ext/v1/supporters',\n  headers: {'content-type': 'application/json'},\n  body: {\n    id: 'string',\n    header: {\n      refId: 'string',\n      batchId: 'string',\n      userData: 'string',\n      processingTime: 0,\n      serverId: 'string'\n    },\n    payload: {\n      supporters: [\n        {\n          readOnly: false,\n          supporterId: '8d5d596f-1e0c-4221-9b6c-48c39efb6c7c',\n          salesforceId: 'string',\n          title: 'string',\n          firstName: 'string',\n          middleName: 'string',\n          lastName: 'string',\n          suffix: 'string',\n          dateOfBirth: '2019-08-24T14:15:22Z',\n          gender: 'Male',\n          externalSystemId: 'string',\n          address: {\n            addressLine1: 'string',\n            addressLine2: 'string',\n            city: 'string',\n            state: 'string',\n            postalCode: 'string',\n            county: 'string',\n            country: 'string',\n            federalHouseDistrict: 'string',\n            stateHouseDistrict: 'string',\n            stateSenateDistrict: 'string',\n            countyDistrict: 'string',\n            municipalityDistrict: 'string',\n            lattitude: 0,\n            longitude: 0,\n            status: 'OPT_IN',\n            optInDate: '2019-08-24T14:15:22Z',\n            optOutDate: '2019-08-24T14:15:22Z'\n          },\n          contacts: [\n            {\n              type: 'EMAIL',\n              value: 'string',\n              status: 'OPT_IN',\n              statusDetail: 'string',\n              smsStatus: 'OPT_IN',\n              smsStatusDetail: 'string',\n              optInDate: '2019-08-24T14:15:22Z',\n              optOutDate: '2019-08-24T14:15:22Z',\n              lastChangeReason: 'string',\n              lastChangeBy: 'string'\n            }\n          ],\n          customFieldValues: [\n            {\n              fieldId: '84922011-b03d-4966-bc95-c5b49bc2e342',\n              name: 'string',\n              value: 'string',\n              type: 'NUMBER',\n              optInDate: '2019-08-24T14:15:22Z',\n              optOutDate: '2019-08-24T14:15:22Z'\n            }\n          ],\n          sourceTrackingCode: 'string',\n          updateSourceTrackingCode: true,\n          salsaClassicId: 'string',\n          cellPhoneOnly: true\n        }\n      ]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.delete(\"https://api.salsalabs.org/api/integration/ext/v1/supporters\")\n  .header(\"content-type\", \"application/json\")\n  .body(\"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"supporters\\\":[{\\\"readOnly\\\":false,\\\"supporterId\\\":\\\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\\\",\\\"salesforceId\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"firstName\\\":\\\"string\\\",\\\"middleName\\\":\\\"string\\\",\\\"lastName\\\":\\\"string\\\",\\\"suffix\\\":\\\"string\\\",\\\"dateOfBirth\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"gender\\\":\\\"Male\\\",\\\"externalSystemId\\\":\\\"string\\\",\\\"address\\\":{\\\"addressLine1\\\":\\\"string\\\",\\\"addressLine2\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"postalCode\\\":\\\"string\\\",\\\"county\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\",\\\"federalHouseDistrict\\\":\\\"string\\\",\\\"stateHouseDistrict\\\":\\\"string\\\",\\\"stateSenateDistrict\\\":\\\"string\\\",\\\"countyDistrict\\\":\\\"string\\\",\\\"municipalityDistrict\\\":\\\"string\\\",\\\"lattitude\\\":0,\\\"longitude\\\":0,\\\"status\\\":\\\"OPT_IN\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"contacts\\\":[{\\\"type\\\":\\\"EMAIL\\\",\\\"value\\\":\\\"string\\\",\\\"status\\\":\\\"OPT_IN\\\",\\\"statusDetail\\\":\\\"string\\\",\\\"smsStatus\\\":\\\"OPT_IN\\\",\\\"smsStatusDetail\\\":\\\"string\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"lastChangeReason\\\":\\\"string\\\",\\\"lastChangeBy\\\":\\\"string\\\"}],\\\"customFieldValues\\\":[{\\\"fieldId\\\":\\\"84922011-b03d-4966-bc95-c5b49bc2e342\\\",\\\"name\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"type\\\":\\\"NUMBER\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"}],\\\"sourceTrackingCode\\\":\\\"string\\\",\\\"updateSourceTrackingCode\\\":true,\\\"salsaClassicId\\\":\\\"string\\\",\\\"cellPhoneOnly\\\":true}]}}\")\n  .asString();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.salsalabs.org/api/integration/ext/v1/supporters\",\n  \"method\": \"DELETE\",\n  \"headers\": {\n    \"content-type\": \"application/json\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"supporters\\\":[{\\\"readOnly\\\":false,\\\"supporterId\\\":\\\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\\\",\\\"salesforceId\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"firstName\\\":\\\"string\\\",\\\"middleName\\\":\\\"string\\\",\\\"lastName\\\":\\\"string\\\",\\\"suffix\\\":\\\"string\\\",\\\"dateOfBirth\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"gender\\\":\\\"Male\\\",\\\"externalSystemId\\\":\\\"string\\\",\\\"address\\\":{\\\"addressLine1\\\":\\\"string\\\",\\\"addressLine2\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"postalCode\\\":\\\"string\\\",\\\"county\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\",\\\"federalHouseDistrict\\\":\\\"string\\\",\\\"stateHouseDistrict\\\":\\\"string\\\",\\\"stateSenateDistrict\\\":\\\"string\\\",\\\"countyDistrict\\\":\\\"string\\\",\\\"municipalityDistrict\\\":\\\"string\\\",\\\"lattitude\\\":0,\\\"longitude\\\":0,\\\"status\\\":\\\"OPT_IN\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"contacts\\\":[{\\\"type\\\":\\\"EMAIL\\\",\\\"value\\\":\\\"string\\\",\\\"status\\\":\\\"OPT_IN\\\",\\\"statusDetail\\\":\\\"string\\\",\\\"smsStatus\\\":\\\"OPT_IN\\\",\\\"smsStatusDetail\\\":\\\"string\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"lastChangeReason\\\":\\\"string\\\",\\\"lastChangeBy\\\":\\\"string\\\"}],\\\"customFieldValues\\\":[{\\\"fieldId\\\":\\\"84922011-b03d-4966-bc95-c5b49bc2e342\\\",\\\"name\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"type\\\":\\\"NUMBER\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"}],\\\"sourceTrackingCode\\\":\\\"string\\\",\\\"updateSourceTrackingCode\\\":true,\\\"salsaClassicId\\\":\\\"string\\\",\\\"cellPhoneOnly\\\":true}]}}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objc + Nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"content-type\": @\"application/json\" };\nNSDictionary *parameters = @{ @\"id\": @\"string\",\n                              @\"header\": @{ @\"refId\": @\"string\", @\"batchId\": @\"string\", @\"userData\": @\"string\", @\"processingTime\": @0, @\"serverId\": @\"string\" },\n                              @\"payload\": @{ @\"supporters\": @[ @{ @\"readOnly\": @NO, @\"supporterId\": @\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\", @\"salesforceId\": @\"string\", @\"title\": @\"string\", @\"firstName\": @\"string\", @\"middleName\": @\"string\", @\"lastName\": @\"string\", @\"suffix\": @\"string\", @\"dateOfBirth\": @\"2019-08-24T14:15:22Z\", @\"gender\": @\"Male\", @\"externalSystemId\": @\"string\", @\"address\": @{ @\"addressLine1\": @\"string\", @\"addressLine2\": @\"string\", @\"city\": @\"string\", @\"state\": @\"string\", @\"postalCode\": @\"string\", @\"county\": @\"string\", @\"country\": @\"string\", @\"federalHouseDistrict\": @\"string\", @\"stateHouseDistrict\": @\"string\", @\"stateSenateDistrict\": @\"string\", @\"countyDistrict\": @\"string\", @\"municipalityDistrict\": @\"string\", @\"lattitude\": @0, @\"longitude\": @0, @\"status\": @\"OPT_IN\", @\"optInDate\": @\"2019-08-24T14:15:22Z\", @\"optOutDate\": @\"2019-08-24T14:15:22Z\" }, @\"contacts\": @[ @{ @\"type\": @\"EMAIL\", @\"value\": @\"string\", @\"status\": @\"OPT_IN\", @\"statusDetail\": @\"string\", @\"smsStatus\": @\"OPT_IN\", @\"smsStatusDetail\": @\"string\", @\"optInDate\": @\"2019-08-24T14:15:22Z\", @\"optOutDate\": @\"2019-08-24T14:15:22Z\", @\"lastChangeReason\": @\"string\", @\"lastChangeBy\": @\"string\" } ], @\"customFieldValues\": @[ @{ @\"fieldId\": @\"84922011-b03d-4966-bc95-c5b49bc2e342\", @\"name\": @\"string\", @\"value\": @\"string\", @\"type\": @\"NUMBER\", @\"optInDate\": @\"2019-08-24T14:15:22Z\", @\"optOutDate\": @\"2019-08-24T14:15:22Z\" } ], @\"sourceTrackingCode\": @\"string\", @\"updateSourceTrackingCode\": @YES, @\"salsaClassicId\": @\"string\", @\"cellPhoneOnly\": @YES } ] } };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.salsalabs.org/api/integration/ext/v1/supporters\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"DELETE\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Swift + Nsurlsession",
            "source": "import Foundation\n\nlet headers = [\"content-type\": \"application/json\"]\nlet parameters = [\n  \"id\": \"string\",\n  \"header\": [\n    \"refId\": \"string\",\n    \"batchId\": \"string\",\n    \"userData\": \"string\",\n    \"processingTime\": 0,\n    \"serverId\": \"string\"\n  ],\n  \"payload\": [\"supporters\": [\n      [\n        \"readOnly\": false,\n        \"supporterId\": \"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\n        \"salesforceId\": \"string\",\n        \"title\": \"string\",\n        \"firstName\": \"string\",\n        \"middleName\": \"string\",\n        \"lastName\": \"string\",\n        \"suffix\": \"string\",\n        \"dateOfBirth\": \"2019-08-24T14:15:22Z\",\n        \"gender\": \"Male\",\n        \"externalSystemId\": \"string\",\n        \"address\": [\n          \"addressLine1\": \"string\",\n          \"addressLine2\": \"string\",\n          \"city\": \"string\",\n          \"state\": \"string\",\n          \"postalCode\": \"string\",\n          \"county\": \"string\",\n          \"country\": \"string\",\n          \"federalHouseDistrict\": \"string\",\n          \"stateHouseDistrict\": \"string\",\n          \"stateSenateDistrict\": \"string\",\n          \"countyDistrict\": \"string\",\n          \"municipalityDistrict\": \"string\",\n          \"lattitude\": 0,\n          \"longitude\": 0,\n          \"status\": \"OPT_IN\",\n          \"optInDate\": \"2019-08-24T14:15:22Z\",\n          \"optOutDate\": \"2019-08-24T14:15:22Z\"\n        ],\n        \"contacts\": [\n          [\n            \"type\": \"EMAIL\",\n            \"value\": \"string\",\n            \"status\": \"OPT_IN\",\n            \"statusDetail\": \"string\",\n            \"smsStatus\": \"OPT_IN\",\n            \"smsStatusDetail\": \"string\",\n            \"optInDate\": \"2019-08-24T14:15:22Z\",\n            \"optOutDate\": \"2019-08-24T14:15:22Z\",\n            \"lastChangeReason\": \"string\",\n            \"lastChangeBy\": \"string\"\n          ]\n        ],\n        \"customFieldValues\": [\n          [\n            \"fieldId\": \"84922011-b03d-4966-bc95-c5b49bc2e342\",\n            \"name\": \"string\",\n            \"value\": \"string\",\n            \"type\": \"NUMBER\",\n            \"optInDate\": \"2019-08-24T14:15:22Z\",\n            \"optOutDate\": \"2019-08-24T14:15:22Z\"\n          ]\n        ],\n        \"sourceTrackingCode\": \"string\",\n        \"updateSourceTrackingCode\": true,\n        \"salsaClassicId\": \"string\",\n        \"cellPhoneOnly\": true\n      ]\n    ]]\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api.salsalabs.org/api/integration/ext/v1/supporters\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"DELETE\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.salsalabs.org\")\n\npayload = \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"supporters\\\":[{\\\"readOnly\\\":false,\\\"supporterId\\\":\\\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\\\",\\\"salesforceId\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"firstName\\\":\\\"string\\\",\\\"middleName\\\":\\\"string\\\",\\\"lastName\\\":\\\"string\\\",\\\"suffix\\\":\\\"string\\\",\\\"dateOfBirth\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"gender\\\":\\\"Male\\\",\\\"externalSystemId\\\":\\\"string\\\",\\\"address\\\":{\\\"addressLine1\\\":\\\"string\\\",\\\"addressLine2\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"postalCode\\\":\\\"string\\\",\\\"county\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\",\\\"federalHouseDistrict\\\":\\\"string\\\",\\\"stateHouseDistrict\\\":\\\"string\\\",\\\"stateSenateDistrict\\\":\\\"string\\\",\\\"countyDistrict\\\":\\\"string\\\",\\\"municipalityDistrict\\\":\\\"string\\\",\\\"lattitude\\\":0,\\\"longitude\\\":0,\\\"status\\\":\\\"OPT_IN\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"contacts\\\":[{\\\"type\\\":\\\"EMAIL\\\",\\\"value\\\":\\\"string\\\",\\\"status\\\":\\\"OPT_IN\\\",\\\"statusDetail\\\":\\\"string\\\",\\\"smsStatus\\\":\\\"OPT_IN\\\",\\\"smsStatusDetail\\\":\\\"string\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"lastChangeReason\\\":\\\"string\\\",\\\"lastChangeBy\\\":\\\"string\\\"}],\\\"customFieldValues\\\":[{\\\"fieldId\\\":\\\"84922011-b03d-4966-bc95-c5b49bc2e342\\\",\\\"name\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"type\\\":\\\"NUMBER\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"}],\\\"sourceTrackingCode\\\":\\\"string\\\",\\\"updateSourceTrackingCode\\\":true,\\\"salsaClassicId\\\":\\\"string\\\",\\\"cellPhoneOnly\\\":true}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/api/integration/ext/v1/supporters\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.salsalabs.org/api/integration/ext/v1/supporters\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_POSTFIELDS => \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"supporters\\\":[{\\\"readOnly\\\":false,\\\"supporterId\\\":\\\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\\\",\\\"salesforceId\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"firstName\\\":\\\"string\\\",\\\"middleName\\\":\\\"string\\\",\\\"lastName\\\":\\\"string\\\",\\\"suffix\\\":\\\"string\\\",\\\"dateOfBirth\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"gender\\\":\\\"Male\\\",\\\"externalSystemId\\\":\\\"string\\\",\\\"address\\\":{\\\"addressLine1\\\":\\\"string\\\",\\\"addressLine2\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"postalCode\\\":\\\"string\\\",\\\"county\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\",\\\"federalHouseDistrict\\\":\\\"string\\\",\\\"stateHouseDistrict\\\":\\\"string\\\",\\\"stateSenateDistrict\\\":\\\"string\\\",\\\"countyDistrict\\\":\\\"string\\\",\\\"municipalityDistrict\\\":\\\"string\\\",\\\"lattitude\\\":0,\\\"longitude\\\":0,\\\"status\\\":\\\"OPT_IN\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"},\\\"contacts\\\":[{\\\"type\\\":\\\"EMAIL\\\",\\\"value\\\":\\\"string\\\",\\\"status\\\":\\\"OPT_IN\\\",\\\"statusDetail\\\":\\\"string\\\",\\\"smsStatus\\\":\\\"OPT_IN\\\",\\\"smsStatusDetail\\\":\\\"string\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"lastChangeReason\\\":\\\"string\\\",\\\"lastChangeBy\\\":\\\"string\\\"}],\\\"customFieldValues\\\":[{\\\"fieldId\\\":\\\"84922011-b03d-4966-bc95-c5b49bc2e342\\\",\\\"name\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"type\\\":\\\"NUMBER\\\",\\\"optInDate\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"optOutDate\\\":\\\"2019-08-24T14:15:22Z\\\"}],\\\"sourceTrackingCode\\\":\\\"string\\\",\\\"updateSourceTrackingCode\\\":true,\\\"salsaClassicId\\\":\\\"string\\\",\\\"cellPhoneOnly\\\":true}]}}\",\n  CURLOPT_HTTPHEADER => [\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          }
        ]
      }
    },
    "/integration/ext/v1/supporters/groups": {
      "post": {
        "tags": [
          "Supporter Data"
        ],
        "summary": "get groups",
        "description": "Provides a way to retrieve a list of groups to which one or more supporters belong.",
        "operationId": "getGroupsForSupporters",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupporterSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIIntegrationResponseSupporterSegmentsResult"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.salsalabs.org/api/integration/ext/v1/supporters/groups \\\n  --header 'content-type: application/json' \\\n  --data '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"identifiers\":[\"string\"],\"identifierType\":\"SUPPORTER_ID\",\"searchString\":\"string\",\"modifiedFrom\":\"2019-08-24T14:15:22Z\",\"modifiedTo\":\"2019-08-24T14:15:22Z\",\"offset\":0,\"count\":0,\"includeCellOnly\":true,\"includeNormal\":true}}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"identifiers\":[\"string\"],\"identifierType\":\"SUPPORTER_ID\",\"searchString\":\"string\",\"modifiedFrom\":\"2019-08-24T14:15:22Z\",\"modifiedTo\":\"2019-08-24T14:15:22Z\",\"offset\":0,\"count\":0,\"includeCellOnly\":true,\"includeNormal\":true}}' |  \\\n  http POST https://api.salsalabs.org/api/integration/ext/v1/supporters/groups \\\n  content-type:application/json"
          },
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.salsalabs.org/api/integration/ext/v1/supporters/groups',\n  headers: {'content-type': 'application/json'},\n  body: {\n    id: 'string',\n    header: {\n      refId: 'string',\n      batchId: 'string',\n      userData: 'string',\n      processingTime: 0,\n      serverId: 'string'\n    },\n    payload: {\n      identifiers: ['string'],\n      identifierType: 'SUPPORTER_ID',\n      searchString: 'string',\n      modifiedFrom: '2019-08-24T14:15:22Z',\n      modifiedTo: '2019-08-24T14:15:22Z',\n      offset: 0,\n      count: 0,\n      includeCellOnly: true,\n      includeNormal: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api.salsalabs.org/api/integration/ext/v1/supporters/groups\")\n  .header(\"content-type\", \"application/json\")\n  .body(\"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"identifiers\\\":[\\\"string\\\"],\\\"identifierType\\\":\\\"SUPPORTER_ID\\\",\\\"searchString\\\":\\\"string\\\",\\\"modifiedFrom\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"modifiedTo\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"offset\\\":0,\\\"count\\\":0,\\\"includeCellOnly\\\":true,\\\"includeNormal\\\":true}}\")\n  .asString();"
          },
          {
            "lang": "Javascript + Jquery",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.salsalabs.org/api/integration/ext/v1/supporters/groups\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"content-type\": \"application/json\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"identifiers\\\":[\\\"string\\\"],\\\"identifierType\\\":\\\"SUPPORTER_ID\\\",\\\"searchString\\\":\\\"string\\\",\\\"modifiedFrom\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"modifiedTo\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"offset\\\":0,\\\"count\\\":0,\\\"includeCellOnly\\\":true,\\\"includeNormal\\\":true}}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Objc + Nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"content-type\": @\"application/json\" };\nNSDictionary *parameters = @{ @\"id\": @\"string\",\n                              @\"header\": @{ @\"refId\": @\"string\", @\"batchId\": @\"string\", @\"userData\": @\"string\", @\"processingTime\": @0, @\"serverId\": @\"string\" },\n                              @\"payload\": @{ @\"identifiers\": @[ @\"string\" ], @\"identifierType\": @\"SUPPORTER_ID\", @\"searchString\": @\"string\", @\"modifiedFrom\": @\"2019-08-24T14:15:22Z\", @\"modifiedTo\": @\"2019-08-24T14:15:22Z\", @\"offset\": @0, @\"count\": @0, @\"includeCellOnly\": @YES, @\"includeNormal\": @YES } };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.salsalabs.org/api/integration/ext/v1/supporters/groups\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"POST\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Swift + Nsurlsession",
            "source": "import Foundation\n\nlet headers = [\"content-type\": \"application/json\"]\nlet parameters = [\n  \"id\": \"string\",\n  \"header\": [\n    \"refId\": \"string\",\n    \"batchId\": \"string\",\n    \"userData\": \"string\",\n    \"processingTime\": 0,\n    \"serverId\": \"string\"\n  ],\n  \"payload\": [\n    \"identifiers\": [\"string\"],\n    \"identifierType\": \"SUPPORTER_ID\",\n    \"searchString\": \"string\",\n    \"modifiedFrom\": \"2019-08-24T14:15:22Z\",\n    \"modifiedTo\": \"2019-08-24T14:15:22Z\",\n    \"offset\": 0,\n    \"count\": 0,\n    \"includeCellOnly\": true,\n    \"includeNormal\": true\n  ]\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api.salsalabs.org/api/integration/ext/v1/supporters/groups\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.salsalabs.org\")\n\npayload = \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"identifiers\\\":[\\\"string\\\"],\\\"identifierType\\\":\\\"SUPPORTER_ID\\\",\\\"searchString\\\":\\\"string\\\",\\\"modifiedFrom\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"modifiedTo\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"offset\\\":0,\\\"count\\\":0,\\\"includeCellOnly\\\":true,\\\"includeNormal\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/api/integration/ext/v1/supporters/groups\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.salsalabs.org/api/integration/ext/v1/supporters/groups\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"id\\\":\\\"string\\\",\\\"header\\\":{\\\"refId\\\":\\\"string\\\",\\\"batchId\\\":\\\"string\\\",\\\"userData\\\":\\\"string\\\",\\\"processingTime\\\":0,\\\"serverId\\\":\\\"string\\\"},\\\"payload\\\":{\\\"identifiers\\\":[\\\"string\\\"],\\\"identifierType\\\":\\\"SUPPORTER_ID\\\",\\\"searchString\\\":\\\"string\\\",\\\"modifiedFrom\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"modifiedTo\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"offset\\\":0,\\\"count\\\":0,\\\"includeCellOnly\\\":true,\\\"includeNormal\\\":true}}\",\n  CURLOPT_HTTPHEADER => [\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          }
        ]
      }
    },
    "/integration/ext/v1/supporters/merge": {
      "post": {
        "tags": [
          "Merge Supporter Records"
        ],
        "summary": "merge",
        "operationId": "mergeSupporters",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIIntegrationRequestSupporterMerge"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIIntegrationResponseSupporterMerge"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.salsalabs.org/api/integration/ext/v1/supporters/merge \\\n  --header 'content-type: application/json' \\\n  --data '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"destination\":{\"readOnly\":false,\"supporterId\":\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\"salesforceId\":\"string\",\"title\":\"string\",\"firstName\":\"string\",\"middleName\":\"string\",\"lastName\":\"string\",\"suffix\":\"string\",\"dateOfBirth\":\"2019-08-24T14:15:22Z\",\"gender\":\"Male\",\"externalSystemId\":\"string\",\"address\":{\"addressLine1\":\"string\",\"addressLine2\":\"string\",\"city\":\"string\",\"state\":\"string\",\"postalCode\":\"string\",\"county\":\"string\",\"country\":\"string\",\"federalHouseDistrict\":\"string\",\"stateHouseDistrict\":\"string\",\"stateSenateDistrict\":\"string\",\"countyDistrict\":\"string\",\"municipalityDistrict\":\"string\",\"lattitude\":0,\"longitude\":0,\"status\":\"OPT_IN\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"},\"contacts\":[{\"type\":\"EMAIL\",\"value\":\"string\",\"status\":\"OPT_IN\",\"statusDetail\":\"string\",\"smsStatus\":\"OPT_IN\",\"smsStatusDetail\":\"string\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\",\"lastChangeReason\":\"string\",\"lastChangeBy\":\"string\"}],\"customFieldValues\":[{\"fieldId\":\"84922011-b03d-4966-bc95-c5b49bc2e342\",\"name\":\"string\",\"value\":\"string\",\"type\":\"NUMBER\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"}],\"sourceTrackingCode\":\"string\",\"updateSourceTrackingCode\":true,\"salsaClassicId\":\"string\",\"cellPhoneOnly\":true},\"source\":{\"readOnly\":false,\"supporterId\":\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\"salesforceId\":\"string\",\"title\":\"string\",\"firstName\":\"string\",\"middleName\":\"string\",\"lastName\":\"string\",\"suffix\":\"string\",\"dateOfBirth\":\"2019-08-24T14:15:22Z\",\"gender\":\"Male\",\"externalSystemId\":\"string\",\"address\":{\"addressLine1\":\"string\",\"addressLine2\":\"string\",\"city\":\"string\",\"state\":\"string\",\"postalCode\":\"string\",\"county\":\"string\",\"country\":\"string\",\"federalHouseDistrict\":\"string\",\"stateHouseDistrict\":\"string\",\"stateSenateDistrict\":\"string\",\"countyDistrict\":\"string\",\"municipalityDistrict\":\"string\",\"lattitude\":0,\"longitude\":0,\"status\":\"OPT_IN\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"},\"contacts\":[{\"type\":\"EMAIL\",\"value\":\"string\",\"status\":\"OPT_IN\",\"statusDetail\":\"string\",\"smsStatus\":\"OPT_IN\",\"smsStatusDetail\":\"string\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\",\"lastChangeReason\":\"string\",\"lastChangeBy\":\"string\"}],\"customFieldValues\":[{\"fieldId\":\"84922011-b03d-4966-bc95-c5b49bc2e342\",\"name\":\"string\",\"value\":\"string\",\"type\":\"NUMBER\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"}],\"sourceTrackingCode\":\"string\",\"updateSourceTrackingCode\":true,\"salsaClassicId\":\"string\",\"cellPhoneOnly\":true},\"result\":\"string\"}}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"id\":\"string\",\"header\":{\"refId\":\"string\",\"batchId\":\"string\",\"userData\":\"string\",\"processingTime\":0,\"serverId\":\"string\"},\"payload\":{\"destination\":{\"readOnly\":false,\"supporterId\":\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\"salesforceId\":\"string\",\"title\":\"string\",\"firstName\":\"string\",\"middleName\":\"string\",\"lastName\":\"string\",\"suffix\":\"string\",\"dateOfBirth\":\"2019-08-24T14:15:22Z\",\"gender\":\"Male\",\"externalSystemId\":\"string\",\"address\":{\"addressLine1\":\"string\",\"addressLine2\":\"string\",\"city\":\"string\",\"state\":\"string\",\"postalCode\":\"string\",\"county\":\"string\",\"country\":\"string\",\"federalHouseDistrict\":\"string\",\"stateHouseDistrict\":\"string\",\"stateSenateDistrict\":\"string\",\"countyDistrict\":\"string\",\"municipalityDistrict\":\"string\",\"lattitude\":0,\"longitude\":0,\"status\":\"OPT_IN\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"},\"contacts\":[{\"type\":\"EMAIL\",\"value\":\"string\",\"status\":\"OPT_IN\",\"statusDetail\":\"string\",\"smsStatus\":\"OPT_IN\",\"smsStatusDetail\":\"string\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\",\"lastChangeReason\":\"string\",\"lastChangeBy\":\"string\"}],\"customFieldValues\":[{\"fieldId\":\"84922011-b03d-4966-bc95-c5b49bc2e342\",\"name\":\"string\",\"value\":\"string\",\"type\":\"NUMBER\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"}],\"sourceTrackingCode\":\"string\",\"updateSourceTrackingCode\":true,\"salsaClassicId\":\"string\",\"cellPhoneOnly\":true},\"source\":{\"readOnly\":false,\"supporterId\":\"8d5d596f-1e0c-4221-9b6c-48c39efb6c7c\",\"salesforceId\":\"string\",\"title\":\"string\",\"firstName\":\"string\",\"middleName\":\"string\",\"lastName\":\"string\",\"suffix\":\"string\",\"dateOfBirth\":\"2019-08-24T14:15:22Z\",\"gender\":\"Male\",\"externalSystemId\":\"string\",\"address\":{\"addressLine1\":\"string\",\"addressLine2\":\"string\",\"city\":\"string\",\"state\":\"string\",\"postalCode\":\"string\",\"county\":\"string\",\"country\":\"string\",\"federalHouseDistrict\":\"string\",\"stateHouseDistrict\":\"string\",\"stateSenateDistrict\":\"string\",\"countyDistrict\":\"string\",\"municipalityDistrict\":\"string\",\"lattitude\":0,\"longitude\":0,\"status\":\"OPT_IN\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"},\"contacts\":[{\"type\":\"EMAIL\",\"value\":\"string\",\"status\":\"OPT_IN\",\"statusDetail\":\"string\",\"smsStatus\":\"OPT_IN\",\"smsStatusDetail\":\"string\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\",\"lastChangeReason\":\"string\",\"lastChangeBy\":\"string\"}],\"customFieldValues\":[{\"fieldId\":\"84922011-b03d-4966-bc95-c5b49bc2e342\",\"name\":\"string\",\"value\":\"string\",\"type\":\"NUMBER\",\"optInDate\":\"2019-08-24T14:15:22Z\",\"optOutDate\":\"2019-08-24T14:15:22Z\"}],\"sourceTrackingCode\":\"string\",\"updateSourceTrackingCode\":true,\"salsaClassicId\":\"string\",\"cellPhoneOnly\":true},\"result\":\"string\"}}' |  \\\n  http POST https://api.salsalabs.org/api/integration/ext/v1/supporters/merge \\\n  content-type:application/json"
          },
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.salsalabs.org/api/integration/ext/v1/supporters/merge',\n  headers: {'content-type': 'application/json'},\n  body: {\n    id: 'string',\n    header: {\n      refId: 'string',\n      batchId: 'string',\n      userData: 'string',\n      processingTime: 0,\n      serverId: 'string'\n    },\n    payload: {\n      destination: {\n        readOnly: false,\n        supporterId: '8d5d596f-1e0c-4221-9b6c-48c39efb6c7c',\n        salesforceId: 'string',\n        title: 'string',\n        firstName: 'string',\n        middleName: 'string',\n        lastName: 'string',\n        suffix: 'string',\n        dateOfBirth: '2019-08-24T14:15:22Z',\n        gender: 'Male',\n        externalSystemId: 'string',\n        address: {\n          addressLine1: 'string',\n          addressLine2: 'string',\n          city: 'string',\n          state: 'string',\n          postalCode: 'string',\n          county: 'string',\n          country: 'string',\n          federalHouseDistrict: 'string',\n          stateHouseDistrict: 'string',\n          stateSenateDistrict: 'string',\n          countyDistrict: 'string',\n          municipalityDistrict: 'string',\n          lattitude: 0,\n          longitude: 0,\n          status: 'OPT_IN',\n          optInDate: '2019-08-24T14:15:22Z',\n          optOutDate: '2019-08-24T14:15:22Z'\n        },\n        contacts: [\n          {\n            type: 'EMAIL',\n            value: 'string',\n            status: 'OPT_IN',\n            statusDetail: 'string',\n            smsStatus: 'OPT_IN',\n            smsStatusDetail: 'string',\n            optInDate: '2019-08-24T14:15:22Z',\n            optOutDate: '2019-08-24T14:15:22Z',\n            lastChangeReason: 'string',\n            lastChangeBy: 'string'\n          }\n        ],\n        customFieldValues: [\n          {\n            fieldId: '84922011-b03d-4966-bc95-c5b49bc2e342',\n            name: 'string',\n            value: 'string',\n            type: 'NUMBER',\n            optInDate: '2019-08-24T14:15:22Z',\n            optOutDate: '2019-08-24T14:15:22Z'\n          }\n        ],\n        sourceTrackingCode: 'string',\n        updateSourceTrackingCode: true,\n        salsaClassicId: 'string',\n        cellPhoneOnly: true\n      },\n      source: {\n        readOnly: false,\n        supporterId: '8d5d596f-1e0c-4221-9b6c-48c39efb6c7c',\n        salesforceId: 'string',\n        title: 'string',\n        firstName: 'string',\n        middleName: 'string',\n        lastName: 'string',\n        suffix: 'string',\n        dateOfBirth: '2019-08-24T14:15:22Z',\n        gender: 'Male',\n        externalSystemId: 'string',\n        address: {\n          addressLine1: 'string',\n          addressLine2: 'string',\n          city: 'string',\n          state: 'string',\n          postalCode: 'string',\n          county: 'string',\n          country: 'string',\n          federalHouseDistrict: 'string',\n          stateHouseDistrict: 'string',\n          stateSenateDistrict: 'string',\n          countyDistrict: 'string',\n          municipalityDistrict: 'string',\n          lattitude: 0,\n          longitude: 0,\n          status: 'OPT_IN',\n          optInDate: '2019-08-24T14:15:22Z',\n          optOutDate: '2019-08-24T14:15:22Z'\n        },\n        contacts: [\n          {\n            type: 'EMAIL',\n            value: 'string',\n            status: 'OPT_IN',\n            statusDetail: 'string',\n            smsStatus: 'OPT_IN',\n            smsStatusDetail: 'string',\n            optInDate: '2019-08-24T14:15:22Z',\n            optOutDate: '2019-08-24T14:15:22Z',\n            lastChangeReason: 'string',\n            lastChangeBy: 'string'\n          }\n        ],\n        customFieldValues: [\n          {\n            fieldId: '84922011-b03d-4966-bc95-c5b49bc2e342',\n            name: 'string',\n            value: 'string',\n            type: 'NUMBER',\n            optInDate: '2019-08-24T14:15:22Z',\n            optOutDate: '2019-08-24T14:15:22Z'\n          }\n        ],\n        sourceTrackingCode: 'string',\n        updateSourceTrackingCode: true,\n        salsaClassicId: 'string',\n        cellPhoneOnly: true\n      },\n      result: 'string'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Java + Unirest",
[...]
